* {
  box-sizing: border-box;
  margin: 0;
  color: white;
  font-size: 3vw;
}
#root {
  min-height: 100vh;
  /* background: url('src/assets/bg.jpg') center;
  background-size: cover; */
}

.main {
  min-height: 100vh;
  background-color: #000000d4;
  display: flex;

  .game-title {
    width: 50%;
    max-width: 25rem;
  }
  .start {
    width: 20vw;
    max-width: 10rem;
    cursor: pointer;
    animation: pulse infinite 1.5s;

    &:hover {
      animation: none;
    }
  }
}
.home {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
