.play {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  width: 80vw;
  min-width: 280px;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3% 0;
  border-bottom: 0.5px solid grey;
  background-color: rgba(54, 54, 54, 0.62);

  img {
    height: 6vw;
    min-height: 1.5rem;
    max-height: 3rem;
  }

  img.logo {
    height: 8vw;
    min-height: 2rem;
    max-height: 4rem;
  }

  nav {
    display: flex;
    gap: 0.5rem;
  }
  p {
    color: white;
    font-weight: bold;
  }

  .pointer {
    cursor: pointer;
  }
}
.instruction {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.true-choice {
  height: 3rem;
  width: 7rem;
  display: inline-block;
  border-radius: 10px;
  animation: pulse infinite 1.5s;
}

.popup-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(91, 91, 91, 0.585);
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 20rem;
    width: 20rem;
    background-color: rgba(36, 143, 22, 0.613);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(251, 250, 250, 0.732) 0px 1px 4px,
      rgb(156, 155, 155) 0px 0px 0px 3px;
  }
}
.choices {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.65rem;
}
.choice {
  height: 6rem;
  width: 6rem;
  display: inline-block;
  transition: all 0.5s;
  border-radius: 0.5rem;
  &:hover {
    transform: scale(1.05);
  }
}

.choice-border {
  height: 4rem;
  width: 8rem;
  border: 1px solid;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.red {
  border: 3px solid rgb(251, 98, 98);
}
.green {
  border: 3px solid rgb(129, 253, 129);
}

@media (min-width: 50rem) {
  * {
    font-size: 20px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
